<%- contentFor('HeaderCss') %> <%- contentFor('title') %> Form Elements <%-
contentFor('breadcrumb') %>
<div class="col-sm-6">
  <div class="page-title-box">
    <h4 class="font-size-18">Add Products</h4>
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a href="javascript: void(0);">Veltrix</a>
      </li>
      <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
      <li class="breadcrumb-item active"></li>
    </ol>
  </div>
</div>

<%- contentFor('body') %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Payment Settings</h4>
        <hr>
        <h5>Paypal Payments</h5>
        <hr>
        <div class="form-group row">
            <label for="paypal" class="col-sm-2 col-form-label"
              >Paypal Payments [ Enable / Disable ]</label
            >
            <div class="col-sm-10">
                <input type="checkbox" id="paypal" switch="success" checked/>
                <label for="paypal" data-on-label="Yes"
                        data-off-label="No"></label>
  
            </div>
          </div>
      <div class="form-group row">
        <label for="mode-paypal" class="col-sm-2 col-form-label"
          >Payment Mode [ sandbox / live ]</label
        >
        <div class="col-sm-10">
            <select class="form-control" id="mode">
                <option>Sandbox [testing]</option>
                <option>Production [live]</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="paypal-id" class="col-sm-2 col-form-label"
          >Paypal Business Email</label
        >
        <div class="col-sm-10">
            <input
                class="form-control"
                type="text"
                id="paypal-id"
            />
        </div>
      </div>
      <hr>
      <h5>PayUMoney Payments</h5>
      <hr>
      <div class="form-group row">
        <label for="payumoney" class="col-sm-2 col-form-label"
          >PayUMoney Payments [ Enable / Disable ]</label
        >
        <div class="col-sm-10">
            <input type="checkbox" id="payu" switch="success" checked/>
            <label for="payu" data-on-label="Yes"
                    data-off-label="No"></label>

        </div>
      </div>
      <div class="form-group row">
        <label for="mode-payumoney" class="col-sm-2 col-form-label"
          >Payment Mode [ sandbox / live ]</label
        >
        <div class="col-sm-10">
            <select class="form-control" id="mode">
                <option>Sandbox [testing]</option>
                <option>Production [live]</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="merchent-key" class="col-sm-2 col-form-label"
          >Merchant key</label
        >
        <div class="col-sm-10">
            <input
                class="form-control"
                type="text"
                id="merchent-key"
            />
        </div>
      </div>
      <div class="form-group row">
        <label for="merchent-id" class="col-sm-2 col-form-label"
          >Merchant ID</label
        >
        <div class="col-sm-10">
            <input
                class="form-control"
                type="text"
                id="merchent-id"
            />
        </div>
      </div>
      <div class="form-group row">
        <label for="salt" class="col-sm-2 col-form-label"
          >Salt</label
        >
        <div class="col-sm-10">
            <input
                class="form-control"
                type="text"
                id="salt"
            />
        </div>
      </div>
      <hr>
      <h5>Razorpay Payments</h5>
      <hr>
      <div class="form-group row">
        <label for="razorpay" class="col-sm-2 col-form-label"
          >Razorpay Payments [ Enable / Disable ]</label
        >
        <div class="col-sm-10">
            <input type="checkbox" id="razor" switch="success" checked/>
            <label for="razor" data-on-label="Yes"
                    data-off-label="No"></label>

        </div>
      </div>
      <div class="form-group row">
        <label for="razorpay-key-id" class="col-sm-2 col-form-label"
          >Razorpay key ID</label
        >
        <div class="col-sm-10">
            <input
                class="form-control"
                type="text"
                id="razorpay-key-id"
            />
        </div>
      </div>
      <div class="form-group row">
        <label for="secret-key" class="col-sm-2 col-form-label"
          >Secret Key</label
        >
        <div class="col-sm-10">
            <input
                class="form-control"
                type="text"
                id="secret-key"
            />
        </div>
      </div>
      <form action="/update-payment-methods" method="POST">
        <button
            type="submit"
            class="btn btn-primary waves-effect waves-light"
            id="update-payment-btn">
            Update
        </button>
      </form>
  </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script src="public/libs/sweetalert2/sweetalert2.min.js"></script>

<script src="public/js/pages/sweet-alerts.init.js"></script>

<script src="public/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
