<%- contentFor('HeaderCss') %> <%- contentFor('title') %> Form Elements <%-
contentFor('breadcrumb') %>
<link
href="../../../public/libs/sweetalert2/sweetalert2.min.css"
rel="stylesheet"
type="text/css"
/>
<div class="col-sm-6">
  <div class="page-title-box">
    <h4 class="font-size-18">Add Products</h4>
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a href="javascript: void(0);">Veltrix</a>
      </li>
      <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
      <li class="breadcrumb-item active"></li>
    </ol>
  </div>
</div>

<%- contentFor('body') %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Information</h4>
        <hr>
        <div class="form-group row">
          <label for="contact-us" class="col-sm-2 col-form-label"
            >Contact US :
            </label
          >
          <div class="col-sm-10">
            
          </div>
        </div>

       <div class="form-group-row">
        <form method="post">
            <textarea id="elm1" name="area"></textarea>
          </form>
       </div>
        <hr>
          <form action="/update-contact-info" method="POST">
            <button
                type="submit"
                class="btn btn-primary waves-effect waves-light"
               id="update-contact-info">
               Update
            </button>
        </form>
        

      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<!-- Sweet Alerts js -->
<script src="../../../public/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet alert init js-->
<script src="../../../public/js/pages/sweet-alerts.init.js"></script>

<!--tinymce js-->
<script src="../../../public/libs/tinymce/tinymce.min.js"></script>

<!-- Summernote js -->
<script src="../../../public/libs/summernote/summernote-bs4.min.js"></script>

<!-- init js -->
<script src="../../../public/js/pages/form-editor.init.js"></script>
