<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link rel="stylesheet" href="public/libs/fullcalendar/fullcalendar.min.css" />
<!-- perticular page css -->
<%- contentFor('title') %> Calendar <%- contentFor('breadcrumb') %>
<div class="page-title-box">
  <h4 class="font-size-18">Calendar</h4>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
    <li class="breadcrumb-item active">Calendar</li>
  </ol>
</div>

<%- contentFor('body') %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Add New Offers Images here</h4>
        <hr>
        <div class="form-group row">
          <label for="measurment-unit" class="col-sm-2 col-form-label">Offer Image</label>
          <div class="col-sm-10">
            <input type="file" class="filestyle" data-input="false">
          </div>
        </div>
        <hr>
        <form action="upload-offer-image" method="POST">
          <button
            type="submit"
            class="btn btn-primary waves-effect waves-light"
            id="btn-upload-offer-image"
          > Upload </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>

<script src="public/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>

<!-- <script src="public/libs/moment/min/moment.min.js"></script>
<script src="public/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="public/libs/fullcalendar/fullcalendar.min.js"></script> -->

<!-- Calendar init -->
<!-- <script src="public/js/pages/calendar.init.js"></script> -->

<%- contentFor('BottomJs') %>
<!-- nothing -->
