<%- contentFor('HeaderCss') %> <%- contentFor('title') %> Email Read <%-
contentFor('breadcrumb') %>

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Manage Customer Wallet</h4>
                <hr>
                <form action="/add-wallet" method="POST">
                <div class="form-group row">
                    <label for="customer" class="col-sm-2 col-form-label">Customer</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Customer" name="customer" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="type" class="col-sm-2 col-form-label">Select Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="type">
                            <option>credit</option>
                            <option>debit</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Amount" name="amount" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="message" class="col-sm-2 col-form-label">Message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" name="message"></textarea>
                    </div>
                </div>
                <hr>
                    <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-update-wallet"> Add
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script src="../../../public/libs/sweetalert2/sweetalert2.min.js"></script>

<script src="../../../public/js/pages/sweet-alerts.init.js"></script>
