<%- contentFor('HeaderCss') %>
    <!--Chartist Chart CSS -->
    <link rel="stylesheet" href="../../../public/libs/chartist/chartist.min.css">
    <!-- perticular page css -->
    <%- contentFor('title') %>

        <%- contentFor('breadcrumb') %>
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">Dashboard</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active">Welcome to Veltrix Dashboard</li>
                    </ol>
                </div>
            </div>

            <%- contentFor('body') %>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="../../../public/images/services-icon/01.png" alt="">
                                    </div>
                                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Orders</h5>
                                    <h4 class="font-weight-medium font-size-24">1,685</h4>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="/orders" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0 mt-1">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="../../../public/images/services-icon/02.png" alt="">
                                    </div>
                                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Total Payment Recived online</h5>
                                    <h4 class="font-weight-medium font-size-24">52,368</h4>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="/transaction" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0 mt-1">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="../../../public/images/services-icon/03.png" alt="">
                                    </div>
                                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Average Price</h5>
                                    <h4 class="font-weight-medium font-size-24">15.8</i></h4>

                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0 mt-1">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="../../../public/images/services-icon/04.png" alt="">
                                    </div>
                                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Product Sold</h5>
                                    <h4 class="font-weight-medium font-size-24">2436</h4>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="/manage-product" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0 mt-1">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 centered">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Latest Trasaction</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover table-centered table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">(#) Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col" colspan="2">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">#14256</th>
                                                <td>
                                                    <div>
                                                        <img src="../../../public/images/users/user-2.jpg" alt=""
                                                            class="avatar-xs rounded-circle mr-2"> Philip Smead
                                                    </div>
                                                </td>
                                                <td>15/1/2018</td>
                                                <td>$94</td>
                                                <td><span class="badge badge-success">Delivered</span></td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">#14257</th>
                                                <td>
                                                    <div>
                                                        <img src="../../../public/images/users/user-3.jpg" alt=""
                                                            class="avatar-xs rounded-circle mr-2"> Brent Shipley
                                                    </div>
                                                </td>
                                                <td>16/1/2019</td>
                                                <td>$112</td>
                                                <td><span class="badge badge-warning">Pending</span></td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">#14258</th>
                                                <td>
                                                    <div>
                                                        <img src="../../../public/images/users/user-4.jpg" alt=""
                                                            class="avatar-xs rounded-circle mr-2"> Robert Sitton
                                                    </div>
                                                </td>
                                                <td>17/1/2019</td>
                                                <td>$116</td>
                                                <td><span class="badge badge-success">Delivered</span></td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">#14259</th>
                                                <td>
                                                    <div>
                                                        <img src="../../../public/images/users/user-5.jpg" alt=""
                                                            class="avatar-xs rounded-circle mr-2"> Alberto Jackson
                                                    </div>
                                                </td>
                                                <td>18/1/2019</td>
                                                <td>$109</td>
                                                <td><span class="badge badge-danger">Cancel</span></td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">#14260</th>
                                                <td>
                                                    <div>
                                                        <img src="../../../public/images/users/user-6.jpg" alt=""
                                                            class="avatar-xs rounded-circle mr-2"> David Sanchez
                                                    </div>
                                                </td>
                                                <td>19/1/2019</td>
                                                <td>$120</td>
                                                <td><span class="badge badge-success">Delivered</span></td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">#14261</th>
                                                <td>
                                                    <div>
                                                        <img src="../../../public/images/users/user-2.jpg" alt=""
                                                            class="avatar-xs rounded-circle mr-2"> Philip Smead
                                                    </div>
                                                </td>
                                                <td>15/1/2018</td>
                                                <td>$94</td>
                                                <td><span class="badge badge-warning">Pending</span></td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <%- contentFor('FooterJs') %>
                    <!-- Peity chart-->
                    <script src="../../../public/libs/peity/jquery.peity.min.js"></script>

                    <!-- Plugin Js-->
                    <script src="../../../public/libs/chartist/chartist.min.js"></script>
                    <script src="../../../public/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

                    <script src="../../../public/js/pages/dashboard.init.js"></script>

                    <%- contentFor('BottomJs') %>
                        <!-- nothing -->