<%- contentFor('HeaderCss') %>
    <!--Chartist Chart CSS -->
    <link rel="stylesheet" href="../../../public/libs/chartist/chartist.min.css">
    <!-- perticular page css -->
    <%- contentFor('title') %>

        <%- contentFor('breadcrumb') %>
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">Dashboard</h4>
                </div>
            </div>

            <%- contentFor('body') %>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="../../../public/images/services-icon/01.png" alt="">
                                    </div>
                                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Orders</h5>
                                    <h4 class="font-weight-medium font-size-24">
                                        <%= data.total_orders %>
                                    </h4>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="/orders" class="text-white-50"><i
                                                class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0 mt-1">Till Now</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="../../../public/images/services-icon/02.png" alt="">
                                    </div>
                                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50">Total Customers</h5>
                                    <h4 class="font-weight-medium font-size-24">
                                        <%= data.total_users %>
                                    </h4>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="/transaction" class="text-white-50"><i
                                                class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0 mt-1">Till Now</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="../../../public/images/services-icon/04.png" alt="">
                                    </div>
                                    <h5 class="font-size-16 text-uppercase mt-0 text-white-50"> Total Products </h5>
                                    <h4 class="font-weight-medium font-size-24">
                                        <%= data.total_products %>
                                    </h4>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="/manage-product" class="text-white-50"><i
                                                class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0 mt-1">Till Now</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 centered">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Latest Orders</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover table-centered table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">(#) Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Mobile</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Payment Method</th>
                                                <th scope="col" colspan="2">Status</th>
                                            </tr>
                                        </thead>

                                        <% if (data.orders !=null) { %>

                                            <tbody>

                                                <% data.orders.forEach(result4=> {%>

                                                    <tr>
                                                        <th scope="row"><%= result4.id %></th>
                                                        <td>
                                                            <%= result4.user_name %>
                                                        </td>
                                                        <td><%= result4.mobile %></td>
                                                        <td><%= result4.final_total %></td>
                                                        <td>
                                                            <%= result4.payment_method %>
                                                        </td>
                                                        <td><span class="badge badge-success"><%= result4.active_status %></span></td>
                                                    </tr>

                                                    <% }) %>

                                            </tbody>

                                            <% } %>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <%- contentFor('FooterJs') %>
                    <!-- Peity chart-->
                    <script src="../../../public/libs/peity/jquery.peity.min.js"></script>

                    <!-- Plugin Js-->
                    <script src="../../../public/libs/chartist/chartist.min.js"></script>
                    <script src="../../../public/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

                    <script src="../../../public/js/pages/dashboard.init.js"></script>

                    <%- contentFor('BottomJs') %>
                        <!-- nothing -->