<%- contentFor('HeaderCss') %> <%- contentFor('title') %> Email Read <%-
contentFor('breadcrumb') %>

<!-- Responsive Table css -->
<link href="../../public/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css"/>

<div class="col-sm-6">
    <div class="page-title-box">
        <h4 class="font-size-18">Email Read</h4>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript: void(0);">Veltrix</a>
            </li>
            <li class="breadcrumb-item"><a href="javascript: void(0);">Email</a></li>
            <li class="breadcrumb-item active">Email Read</li>
        </ol>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Orders</h4>
                <% if (data != null) { %>

                    <table id="orders" class="table table-hover">
                        <thead>
                        <tr>
                            <th>O.ID</th>
                            <th>U.Name</th>
                            <th>Mobile</th>
                            <th>Total</th>
                            <th>D.Charge</th>
                            <th>Tax</th>
                            <th>Disc</th>
                            <th>Promo Disc</th>
                            <th>Wallet Used</th>
                            <th>F.Total</th>
                            <th>P.Method</th>
                            <th>A.Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% data.forEach(result => { %>
                            <tr>
                                <td><%= result._id %></td>
                                <td><%= result.user_name %></td>
                                <td><%= result.mobile %></td>
                                <td><%= result.total %></td>
                                <td><%= result.delivery_charge %></td>
                                <td><%= result.tax_amount %>(<%= result.tax_percentage %>%)</td>
                                <td><%= result.discount %></td>
                                <td><%= result.promo_discount %></td>
                                <td><%= result.wallet_balance %></td>
                                <td><%= result.final_total %></td>
                                <td><%= result.payment_method %></td>
                                <td><span class="badge badge-pill badge-primary"><%= result.active_status %></span></td>
                                <td><a href="/view-order?id=<%= result.id %>"><i class="ti-eye"></i> View</a> <a
                                            href="/delete-order?id=<%= result.id %>"
                                            onclick="return confirm('Are you sure ?');"><i class="ti-trash"></i> Delete</a>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script src="../../public/libs/sweetalert2/sweetalert2.min.js"></script>

<script src="../../public/js/pages/sweet-alerts.init.js"></script>

<!-- Responsive Table js -->
<script src="../../public/libs/admin-resources/rwd-table/rwd-table.min.js"></script>

<!-- Init js -->
<script src="../../public/js/pages/table-responsive.init.js"></script>
