<%- contentFor('HeaderCss') %> <%- contentFor('title') %> Form Elements <%-
contentFor('breadcrumb') %>
<div class="col-sm-6">
    <div class="page-title-box">
        <h4 class="font-size-18">Add Products</h4>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript: void(0);">Veltrix</a>
            </li>
            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
            <li class="breadcrumb-item active"></li>
        </ol>
    </div>
</div>

<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Store Settings</h4>
                <hr>
                <% if (data != null) { %>
                <form action="/update-settings" method="POST">
                    <div class="form-group row">
                        <label for="appname" class="col-sm-2 col-form-label">App Name:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.app_name %> name="appname" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="supportnumber" class="col-sm-2 col-form-label">Support Number:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.support_number %>
                                name="supportnumber" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="supportemail" class="col-sm-2 col-form-label">Support Email:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.support_email %>
                                name="supportemail" />
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <label for="logo" class="col-sm-2 col-form-label">Logo:</label>
                        <div class="col-sm-10">
                            <input type="file" class="filestyle" data-input="false" />
                        </div>
                    </div>-->
                    <h4>Version Settings</h4>
                    <hr>
                    <div class="form-group row">
                        <label for="currentversion" class="col-sm-2 col-form-label">Current Version of App:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.current_version %>
                                name="currentversion" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="minversion" class="col-sm-2 col-form-label">Minimum Version Required:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text"
                                value=<%= data.min_version == null ? data.current_version : data.min_version %>
                                name="minversion" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="versionsystemstatus" class="col-sm-2 col-form-label"> Version System Status</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="versionsystemstatus">
                                <option><%= data.version_status_check == 1 ? "Enable" : "Disable"%></option>
                                <option><%= data.version_status_check == 1 ? "Disable" : "Enable"%></option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label for="currency" class="col-sm-2 col-form-label">Store Currency ( Symbol or Code - $ or USD
                            -
                            Anyone ):</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%= data.currency %>" name="currencycode" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gst" class="col-sm-2 col-form-label">GST ( in percentage % ):</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%= data.gst %>" name="gst" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cgst" class="col-sm-2 col-form-label">CGST ( in percentage % ):</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.cgst %> name="cgst" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sgst" class="col-sm-2 col-form-label">SGST ( in percentage % ):</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.sgst %> name="sgst" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="igst" class="col-sm-2 col-form-label">IGST ( in percentage % ):</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.igst %> name="igst" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deliverychargeamt" class="col-sm-2 col-form-label">Delivery Charge Amount
                            (₹)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%= data.delivery_charge %>" name="devliverychargeamt" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="minfreedelivery" class="col-sm-2 col-form-label">Minimum Amount for Free Delivery
                            (₹)
                            ( Below this user will be charged based on Delivery Charge)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.min_free_delivery_amount %>
                                name="minfreedelivery" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="timezone" class="col-sm-2 col-form-label">System Time Zone</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="timezone">
                                <option><%= data.system_time_zone %>
                            </select>
                        </div>
                    </div>
                    <h4>Refer & Earn System</h4>
                    <hr>
                    <div class="form-group row">
                        <label for="refer" class="col-sm-2 col-form-label"> Refer and Earn System </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="referandearnsystem">
                                <option><%= data.refer_and_earn_enable == 1 ? "Enable" : "Disable"%></option>
                                <option><%= data.refer_and_earn_enable == 1 ? "Disable" : "Enable" %></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="minreferamt" class="col-sm-2 col-form-label">Minimum Refer & Earn Order Amount
                            (₹)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.min_refer_and_earn_amount %>
                                name="minreferamt" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="referbonus" class="col-sm-2 col-form-label">Refer & Earn Bonus (₹ OR %)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.refer_and_earn_bonus %>
                                name="referbonus" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="refermethod" class="col-sm-2 col-form-label">Refer & Earn Method</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="refermethod">
                                <option selected><%= data.refer_and_earn_method %></option>
                                <option><%= data.refer_and_earn_method == "Percentage" ? "Rupees" : "Percentage" %>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="maxreferamt" class="col-sm-2 col-form-label">Maximum Refer & Earn Amount (₹)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.max_refer_and_earn_amount %>
                                name="maxreferamt" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="minwithdrawamt" class="col-sm-2 col-form-label">Minimum Withdrawal Amount</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.min_withdraw_amount %>
                                name="minwithdrawamt" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="maxdaysreturn" class="col-sm-2 col-form-label">Max days to return item</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%= data.max_days_to_return_item %>" name="maxdaysreturn" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deliveryboybonus" class="col-sm-2 col-form-label">Delivery Boy Bonus (%)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.delivery_boy_bonus %>
                                name="deliveryboybonus" />
                        </div>
                    </div>
                    <h4>Mail Settings</h4>
                    <hr>
                    <div class="form-group row">
                        <label for="fromemail" class="col-sm-2 col-form-label">From eMail ID: ( This email ID will be
                            used
                            in Mail System )</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.from_email %> name="fromemail" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="replyemail" class="col-sm-2 col-form-label">Reply To eMail ID: ( This email ID will
                            be
                            used in Mail System )</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value=<%= data.reply_to_email %>
                                name="replyemail" />
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-primary waves-effect waves-light" id="sa-success">
                        Update
                    </button>
                </form>
                <% } %>

            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script src="../../public/libs/sweetalert2/sweetalert2.min.js"></script>

<script src="../../public/js/pages/sweet-alerts.init.js"></script>

<script src="../../public/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
